<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunshine</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Sunshine</div>

            <nav class="nav">
                <a class="nav__link" href="/">Главная</a>
                <a class="nav__link" href="light_veh">Легковые</a>
                <a class="nav__link" href="truck">Коммерческие</a>
                <a class="nav__link" href="moto">Мото</a>
            </nav>
        </div>
    </div>
</header>

<body>

<div class="main">
    <div class="container">
        <h1 class="main__title">Sunshine – Отзывы о транспорте</h1>
    </div>
</div>

<div class="title">
    <div class="container__title">
        <figure>
            <img class="title__images" src="images/title_car.jpg">
            <figcaption class="image__text">
                <a class="title__image__link" href="light_veh">Комфортные авто</a>
            </figcaption>
        </figure>
        <figure>
            <img class="title__images" src="images/title_truck.jpg">
            <figcaption class="image__text">
                <a class="title__image__link" href="truck">Вместительные грузовики</a>
            </figcaption>
        </figure>
        <figure>
            <img class="title__images" src="images/title_moto.jpg">
            <figcaption class="image__text">
                <a class="title__image__link" href="moto">Шустрые мотоциклы</a>
            </figcaption>
        </figure>
    </div>
</div>

</body>
</html>